.gpt3_brand
{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;

}


.gpt3_brand div
{
    flex:1;
    margin: 1rem;
    max-width:150px;
    min-width:120px;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
